p {color: red;}
p.ex2 {display: inline;}
p.ex3 {display: block;}
p.ex4 {display: inline-block;}

p.ex5 {
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
	color: white;
	float: right;width: 750px;
	border: 2px solid #666;
}
p.ex6 {
	font-size: 15px;
	text-align: center;
	color: white;
	float: right;width: 120px;
	border: 2px solid #666;
}
p.ex7 {
	display: inline-block;
	font-size: 20px;
	font-family: inherit;
	text-align: center;
	color: white;
}
p.ex8 {
	color: white;
	font-family: inherit;
	font-size: 20px;
	
	text-align: right;

}
p.ex9 {
	color: white;
	font-family: inherit;
	font-size: 60px;
	text-align: right;

}



div{
	height: 200px;
	width: 600px;
	background: url(Parent.png);
}

body {
	margin: 1% 1%;
	border: 2px solid #666;
	height: 2400px;
	padding: 5px;
	background-color: black;
	font-family: monospace;

}


h1 {
	box-sizing: border-box;
	width: 50%;
	border: solid lightyellow; 5px;
	padding: 10px;
	background-color: lightyellow;
	height:100px;
	width: 500px;
	font-size: 300%;
	color: white;
	background: url(R.png);
	
}

h2 {
	font-size: 25px;
	color: white;
}




p {
	font-family: verdana;
	font-size: 20px;
	text-align: right;

}

